@charset "UTF-8";
body {

  background-attachment: scroll;
  background-position: 64px 64px;
}

.main-container {
  position: relative;
  width: 752px;
  height: 432px;
  margin: calc(50vh - 216px) auto;
  background-image: url(imagenes/fondo_body.jpg);
  background-repeat: no-repeat;
}

#contenido {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.9em;
  position: relative;
  visibility: visible;
  float: left;
  clear: right;
  width: 584px;
  height: 394px;
  text-align: right;
  color: #F69;
}

#contenido p {
  padding: 1rem;
}

#menu {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.7em;
  float: left;
  clear: left;
  width: 130px;
  height: 394px;
  margin: 2px;
  padding-top: 236px;
  color: #FF6699;
  background-image: url(imagenes/fondo_menu.jpg);
  background-repeat: no-repeat;
}

#menu a:link {
  text-decoration: none;
  color: #FF6699;
}

#menu a:visited {
  text-decoration: none;
  color: #FF6699;
}

#menu a:hover {
  font-weight: bolder;
  text-decoration: underline;
  color: #FF6699;
}

#menu a:active {
  text-decoration: none;
  color: #66C;
}

#pagina {
  position: relative;
  padding-top: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  margin: 1rem;
}

#footer {
  position: relative;
  width: calc(100% - 2rem);
  margin: 1rem;
  font-family: Verdana, sans-serif;
  font-size: 0.8rem;
}

.fondo1 {
  background-image: url(imagenes/fondopg_quiensoy.jpg);
}

.fondo2 {
  background-image: url(imagenes/fondopg_quehago.png);
}
