@charset "UTF-8";
body {
	background-image: url(imagenes/fondo_body.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 64px 64px;
	margin-top: 5em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 5em;
}
#contenido {
	clear: right;
	height: 394px;
	position: relative;
	float: left;
	visibility: visible;
	text-align: right;
	width: 584px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.9em;
	color: #F69;
}
#menu {
	background-image: url(imagenes/fondo_menu.jpg);
	background-repeat: no-repeat;
	height: 394px;
	width: 130px;
	padding-top: 230px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.7em;
	margin: 2px;
	color: #FF6699;
	float: left;
	clear: left;
}
#menu a:link {
	color: #FF6699;
	text-decoration: none;
}
#menu a:visited {
	text-decoration: none;
	color: #FF6699;
}
#menu a:hover {
	text-decoration: underline;
	color: #FF6699;
	font-weight: bolder;
}
#menu a:active {
	text-decoration: none;
	color: #66C;
}
#pagina {
	height: 400px;
	width: 720px;
	padding-top: 2px;
}
.fondo1 {
	background-image: url(imagenes/fondopg_quiensoy.jpg);
}
.fondo2 {
	background-image: url(imagenes/fondopg_quehago.png);
}
